@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&family=Lobster&display=swap');


.navegacion {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.navegacion a {
	display: block;
}

body {
	margin: 0;
	background-color: rgb(245, 220, 242);
	color: rgb(55, 38, 65);
	font-family: Georgia, serif;
}

